aiogram
aiohttp
aiosignal
APScheduler
async-timeout
attrs
Babel
certifi
charset-normalizer
cycler
dataclasses-json
emoji
fonttools
frozenlist
greenlet
idna
kiwisolver
marshmallow
marshmallow-enum
marshmallow_dataclass
matplotlib
multidict
mypy-extensions
numpy
packaging
Pillow
prettytable
PyMySQL
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
redis
six
SQLAlchemy
typing-inspect
typing_extensions
tzdata
tzlocal
wcwidth
yarl
